
.contenedorProductos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; 
  }

  .cardProducto {
    width: 250px;
    border: 1px solid #e1e1e1;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: #fff;
    text-align: center;
    transition: transform 0.3s ease;
  }
  
  .cardProducto:hover {
    transform: translateY(-5px);
  }

  .imgProducto {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
  }

  .cardProducto h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
  }

  .cardProducto p {
    font-size: 18px;
    color: #666;
    margin-bottom: 5px;
  }
  .cardProducto a {
    display: block;
    background-color: #32cd32;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .cardProducto a:hover {
    background-color: #2e8b2e;
  }
  