/* ItemDetail.css */

/* Estilos para el contenedor principal */
.ItemDetail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 0 auto;
}

/* Estilos para el título */
.ItemDetail h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

/* Estilos para el precio */
.ItemDetail h3 {
  font-size: 20px;
  margin: 5px 0;
}

/* Estilos para la imagen */
.img {
  width: 100%;
  max-width: 300px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

/* Estilos para la descripción */
.Descripcion {
  font-size: 14px;
  color: #777;
  margin-bottom: 20px;
  text-align: center;
}

/* Estilos para el enlace de "Terminar compra" */
.ItemDetail a {
  display: inline-block;
  background-color: #9dafc2;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.ItemDetail a:hover {
  background-color: #5f6871;
}

/* Estilos para el contador (ItemCount) */
.ItemCount {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.ItemCount button {
  background-color: #7389a1;
  color: #fff;
  border: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ItemCount button:hover {
  background-color: #9fb2c4;
}

.ItemCount .count {
  font-size: 18px;
  margin: 0 10px;
}

.ItemCount .count-container {
  display: flex;
  align-items: center;
  border: 1px solid #7389a1;
  border-radius: 4px;
  padding: 0 10px;
}
